<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %> 
      </h1>
    </section>
    <pre class="debug_dump"><%= status_for @user %></pre>
  </aside>
  <div class="span8">
    <h3>Authored Phrases (<%= @user.authoredPhrases.count %>)</h3>
    <% if @user.authoredPhrases.any? %>
      <ol class="phrases">
        <%= render @user.authoredPhrases %>
      </ol>
      <%= will_paginate @phrases %>
    <% end %>
  </div>
</div>